.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding: 0 16px;
  width: 392px;
  max-width: 100%;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}
